{
  "summaryType": "year",
  "aggregated_by": "day",
  "dateTime": "$year.dateTime.raw",
  "units": {
    "outTemp": "$unit.label.outTemp",
    "outHumidity": "$unit.label.outHumidity",
    "inTemp": "$unit.label.inTemp",
    "inHumidity": "$unit.label.inHumidity",
    "heatindex": "$unit.label.heatindex",
    "windchill": "$unit.label.windchill",
    "dewpoint": "$unit.label.dewpoint",
    "barometer": "$unit.label.barometer",
    "rain": "$unit.label.rain",
    "rainRate": "$unit.label.rainRate",
    "ET": "$unit.label.ET",
    "UV": "$unit.label.UV",
    "windSpeed": "$unit.label.windSpeed",
    "windDir": "$unit.label.windDir"
  },
  "records": [
    #for $record in $year.days
    {
      "dateTime": $record.dateTime.raw,
      "outTemp": { "min": $record.outTemp.min.raw, "max": $record.outTemp.max.raw },
      "outHumidity": { "min": $record.outHumidity.min.raw, "max": $record.outHumidity.max.raw },
      #if $record.inTemp.has_data
      "inTemp": { "min": $record.inTemp.min.raw, "max": $record.inTemp.max.raw },
      #end if
      #if $record.inHumidity.has_data
      "inHumidity": { "min": $record.inHumidity.min.raw, "max": $record.inHumidity.max.raw },
      #end if
      #if $record.heatindex.has_data
      "heatindex": { "min": $record.heatindex.min.raw, ",max": $record.heatindex.max.raw },
      #end if
      #if $record.windchill.has_data
      "windchill": { "min": $record.windchill.min.raw, "max": $record.windchill.max.raw },
      #end if
      "dewpoint": { "min": $record.dewpoint.min.raw, "max": $record.dewpoint.max.raw },
      "barometer": { "min": $record.barometer.min.raw, "max": $record.barometer.max.raw },
      "rain": { "sum": $record.rain.sum.raw, "rate": $record.rainRate.max.raw, "rateTime": "$record.rainRate.maxtime" },
      #if $record.UV.has_data
      "UV": { "min": $record.UV.min.raw, "max": $record.UV.max.raw },
      #end if
      #if $record.ET.has_data
      "ET": { "min": $record.ET.min.raw, "max": $record.ET.max.raw },
      #end if
      #if $record.radiation.has_data
      "radiation": { "min": $record.radiation.min.raw, "max": $record.radiation.max.raw },
      #end if
      #if $record.extraTemp1.has_data
      "extraTemp1": { "min": $record.extraTemp1.min.raw, "max": $record.extraTemp1.max.raw },
      #end if
      #if $record.extraTemp2.has_data
      "extraTemp2": { "min": $record.extraTemp2.min.raw, "max": $record.extraTemp2.max.raw },
      #end if
      #if $record.extraTemp3.has_data
      "extraTemp3": { "min": $record.extraTemp3.min.raw, "max": $record.extraTemp3.max.raw },
      #end if
      "wind": {
        "max": $record.windSpeed.max.raw, "maxTime": "$record.windSpeed.maxtime", "avg": $record.windSpeed.avg.raw,
        "dir": $record.windDir.avg.raw, "gust": $record.windGust.max.raw, "gustdir":  $record.windGustDir.avg.raw
      }
    },
    #end for
    {}
  ]
}