.card-body {
    padding: .75rem .5rem;
}

* {
    font-family: 'Rubik', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.text-muted {
    font-weight: 300;
}

.main-bg {
    background: rgba(158,158,158,0.1);
}

table td {
    font-weight: normal;
}

.card {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .05);
    border-radius: .25rem;
}

.navbar {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .05);
}

/* very large layout */
@media screen and (min-width: 1660px) {
    .temprow {
        display: flex;
        width: 50%;
        margin: 1rem 0 0 0 !important;
    }

    .graphrow {
        display: flex;
        width: 50%;
        margin: 1rem 0 0 0 !important;
    }

    .d-flex-xxl {
        display: flex !important;
    }

    .temprow .col-xl-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .rowdivider {
        display: none !important;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    .main-bg {
        background: #2e2e2e !important;
    }

    .card, .dropdown-menu, .dropdown-menu a {
        background-color: #444 !important;
        color: #ddd !important;
    }

    .text-muted {
        color: #aaa !important;
    }

    /*
     * Adjusted colors. Default text is color 500, in dark: 300
     * Not all colors need this, some look nice on dark bgs.
     */

    .purple-text {
        color: #BA68C8 !important;
    }
    .deep-purple-text {
        color: #9575CD !important;
    }
    .indigo-text {
        color: #7986CB !important;
    }
    .teal-text {
        color: #4DB6AC !important;
    }
    .brown-text {
        color: #A1887F !important;
    }
    .blue-grey-text {
        color: #90A4AE !important;
    }

    .text-dark, .table {
        color: #ccc !important;
    }
}

/* Fix for bright color bgs
 * Normally color 500, darker version: color 700
 */
.lime {
    background-color: #AFB42B !important;
}
.yellow {
    background-color: #FBC02D !important
}