.card-body {
    padding: .75rem .5rem;
}

* {
    font-family: 'Rubik', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.text-muted {
    font-weight: 300;
}

.main-bg {
    background: rgba(158,158,158,0.1);
}

table td {
    font-weight: normal;
}

/* very large layout */
@media screen and (min-width: 1660px) {
    .temprow {
        display: flex;
        width: 50%;
        margin: 1rem 0 0 0 !important;
    }

    .graphrow {
        display: flex;
        width: 50%;
        margin: 1rem 0 0 0 !important;
    }

    .d-flex-xxl {
        display: flex !important;
    }

    .temprow .col-xl-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .rowdivider {
        display: none !important;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    .main-bg {
        background: #2e2e2e !important;
    }

    .card, .dropdown-menu, .dropdown-menu a {
        background-color: #444 !important;
        color: #ddd !important;
    }

    .text-muted {
        color: #aaa !important;
    }

    /* TODO Add for other colors as well (as needed) */
    .indigo-text {
        color: #7E88C6 !important;
    }

    .text-dark, .table {
        color: #ccc !important;
    }
}