<!DOCTYPE html>
<html lang="$Extras.language">
<head>
    <title>$Extras.Translations[$Extras.language].almanac | $station.location</title>
    #include "head.inc"
</head>
<body class="main-bg">

#attr $active_nav = 'almanac'
#include "header.inc"

<main>

    <div class="container">

        <div class="row my-4 align-content-start">

            <div class="col-12 mb-4 text-center">
                <h2 class="h2-responsive text-dark">$Extras.Translations[$Extras.language].almanac</h2>
            </div>

            <div class="col-12 col-lg-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">Sun</h5>

                        <div class="row">
                            <div class="col-4">
                                <h6 class="$Extras.color-text"><i class="wi wi-sunrise"></i> Rise</h6>
                                $almanac.sun.rise
                                <span class="d-block text-muted" data-toggle="tooltip"
                                      title="Start civil twilight">$almanac(horizon=-6).sun(use_center=1).rise</span>
                            </div>
                            <div class="col-4">
                                <h6 class="$Extras.color-text"><i class="wi wi-day-sunny"></i> Transit</h6>
                                $almanac.sun.transit
                            </div>
                            <div class="col-4">
                                <h6 class="$Extras.color-text"><i class="wi wi-sunset"></i> Set</h6>
                                $almanac.sun.set
                                <span class="d-block text-muted" data-toggle="tooltip"
                                      title="End civil twilight">$almanac(horizon=-6).sun(use_center=1).set</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">Moon</h5>

                        <div class="row">
                            <div class="col-4">
                                <h6 class="$Extras.color-text"><i class="wi wi-moonrise"></i> Rise</h6>
                                $almanac.moon.rise
                            </div>
                            <div class="col-4">
                                <h6 class="$Extras.color-text"><i class="wi wi-night-clear"></i> Transit</h6>
                                $almanac.moon.transit
                            </div>
                            <div class="col-4">
                                <h6 class="$Extras.color-text"><i class="wi wi-moonset"></i> Set</h6>
                                $almanac.moon.set
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">Equinox & Solstice</h5>

                        <table class="table table-striped text-left">
                            <tr>
                                <td>Vernal equinox:</td>
                                <td>$almanac.next_vernal_equinox</td>
                            </tr>
                            <tr>
                                <td>Summer solstice:</td>
                                <td>$almanac.next_summer_solstice</td>
                            </tr>
                            <tr>
                                <td>Autumnal equinox:</td>
                                <td>$almanac.next_autumnal_equinox</td>
                            </tr>
                            <tr>
                                <td>Winter solstice:</td>
                                <td>$almanac.next_winter_solstice</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">Moon Phases</h5>

                        <table class="table table-striped text-left">
                            <tr>
                                <td>Currently:</td>
                                <td>
                                    #if $almanac.moon_phase == "New"
                                    <i class="wi wi-moon-new mr-1" style="opacity: .75"></i>
                                    #else if $almanac.moon_phase == "Waxing crescent"
                                    <i class="wi wi-moon-waxing-crescent-4 mr-1" style="opacity: .75"></i>
                                    #else if $almanac.moon_phase == "First quarter"
                                    <i class="wi wi-moon-first-quarter mr-1" style="opacity: .75"></i>
                                    #else if $almanac.moon_phase == "Waxing gibbous"
                                    <i class="wi wi-moon-waxing-gibbous-4 mr-1" style="opacity: .75"></i>
                                    #else if $almanac.moon_phase == "Full"
                                    <i class="wi wi-moon-full mr-1" style="opacity: .75"></i>
                                    #else if $almanac.moon_phase == "Waning gibbous"
                                    <i class="wi wi-moon-waning-gibbous-4 mr-1" style="opacity: .75"></i>
                                    #else if $almanac.moon_phase == "Last quarter"
                                    <i class="wi wi-moon-third-quarter mr-1" style="opacity: .75"></i>
                                    #else if $almanac.moon_phase == "Waning crescent"
                                    <i class="wi wi-moon-waning-crescent-4 mr-1" style="opacity: .75"></i>
                                    #else
                                    <i class="wi wi-moon-waning-crescent-3 mr-1" style="opacity: .75"></i>
                                    #end if
                                    $almanac.moon_fullness% $almanac.moon_phase
                                </td>
                            </tr>
                            #if $almanac.next_full_moon.raw < $almanac.next_new_moon.raw
                            <tr>
                                <td>Next Full Moon:</td>
                                <td>$almanac.next_full_moon</td>
                            </tr>
                            <tr>
                                <td>Next New Moon:</td>
                                <td>$almanac.next_new_moon</td>
                            </tr>
                            #else
                            <tr>
                                <td>Next New Moon:</td>
                                <td>$almanac.next_new_moon</td>
                            </tr>
                            <tr>
                                <td>Next Full Moon:</td>
                                <td>$almanac.next_full_moon</td>
                            </tr>
                            #end if
                        </table>

                    </div>
                </div>
            </div>

        </div>

    </div>

</main>

#include "footer.inc"
#include "js.inc"

</body>
</html>
