#encoding UTF-8
## +-------------------------------------------------------------------------+
## |    almanac.html.tmpl                Template file for "almanac" page    |
## +-------------------------------------------------------------------------+
<!DOCTYPE html>
<html lang="$Extras.language">
<head>
    <title>$Extras.Translations[$Extras.language].almanac | $station.location</title>
    #include "head.inc"
</head>
<body class="${Extras.Appearance.mode}-theme main-bg" ontouchstart="">

#attr $active_nav = 'almanac'
#include "header.inc"

<main>

    <div class="container">

        <div class="row my-4 align-content-start">

            <div class="col-12 mb-4 text-center">
                <h2 class="h2-responsive text-dark">$Extras.Translations[$Extras.language].almanac</h2>
            </div>

            #if $almanac.hasExtras

            <div class="col-12 col-lg-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$Extras.Translations[$Extras.language].sun</h5>

                        <div class="row">
                            <div class="col-4">
                                <h6 class="$Extras.color-text"><i class="wi wi-sunrise"></i>
                                    $Extras.Translations[$Extras.language].rise</h6>
                                $almanac.sun.rise
                                <span class="d-block text-muted" data-toggle="tooltip"
                                      title="Start civil twilight">$almanac(horizon=-6).sun(use_center=1).rise</span>
                            </div>
                            <div class="col-4">
                                <h6 class="$Extras.color-text"><i class="wi wi-day-sunny"></i>
                                    $Extras.Translations[$Extras.language].transit</h6>
                                $almanac.sun.transit
                            </div>
                            <div class="col-4">
                                <h6 class="$Extras.color-text"><i class="wi wi-sunset"></i>
                                    $Extras.Translations[$Extras.language].set</h6>
                                $almanac.sun.set
                                <span class="d-block text-muted" data-toggle="tooltip"
                                      title="End civil twilight">$almanac(horizon=-6).sun(use_center=1).set</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$Extras.Translations[$Extras.language].moon</h5>

                        <div class="row">
                            <div class="col-4">
                                <h6 class="$Extras.color-text"><i class="wi wi-moonrise"></i>
                                    $Extras.Translations[$Extras.language].rise</h6>
                                $almanac.moon.rise
                            </div>
                            <div class="col-4">
                                <h6 class="$Extras.color-text"><i class="wi wi-night-clear"></i>
                                    $Extras.Translations[$Extras.language].transit</h6>
                                $almanac.moon.transit
                            </div>
                            <div class="col-4">
                                <h6 class="$Extras.color-text"><i class="wi wi-moonset"></i>
                                    $Extras.Translations[$Extras.language].set</h6>
                                $almanac.moon.set
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-3 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$Extras.Translations[$Extras.language].venus</h5>

                        <div class="row">
                            <div class="col-4 col-xl-12">
                                <h6 class="$Extras.color-text d-xl-inline mr-xl-2"><i class="wi wi-direction-up"></i>
                                    $Extras.Translations[$Extras.language].rise</h6>
                                $almanac.venus.rise
                            </div>
                            <div class="col-4 col-xl-12">
                                <h6 class="$Extras.color-text d-xl-inline mr-xl-2"><i class="wi wi-moon-alt-full"></i>
                                    $Extras.Translations[$Extras.language].transit</h6>
                                $almanac.venus.transit
                            </div>
                            <div class="col-4 col-xl-12">
                                <h6 class="$Extras.color-text d-xl-inline mr-xl-2"><i class="wi wi-direction-down"></i>
                                    $Extras.Translations[$Extras.language].set</h6>
                                $almanac.venus.set
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-3 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$Extras.Translations[$Extras.language].mars</h5>

                        <div class="row">
                            <div class="col-4 col-xl-12">
                                <h6 class="$Extras.color-text d-xl-inline mr-xl-2"><i class="wi wi-direction-up"></i>
                                    $Extras.Translations[$Extras.language].rise</h6>
                                $almanac.mars.rise
                            </div>
                            <div class="col-4 col-xl-12">
                                <h6 class="$Extras.color-text d-xl-inline mr-xl-2"><i class="wi wi-moon-alt-full"></i>
                                    $Extras.Translations[$Extras.language].transit</h6>
                                $almanac.mars.transit
                            </div>
                            <div class="col-4 col-xl-12">
                                <h6 class="$Extras.color-text d-xl-inline mr-xl-2"><i class="wi wi-direction-down"></i>
                                    $Extras.Translations[$Extras.language].set</h6>
                                $almanac.mars.set
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-3 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$Extras.Translations[$Extras.language].jupiter</h5>

                        <div class="row">
                            <div class="col-4 col-xl-12">
                                <h6 class="$Extras.color-text d-xl-inline mr-xl-2"><i class="wi wi-direction-up"></i>
                                    $Extras.Translations[$Extras.language].rise</h6>
                                $almanac.jupiter.rise
                            </div>
                            <div class="col-4 col-xl-12">
                                <h6 class="$Extras.color-text d-xl-inline mr-xl-2"><i class="wi wi-moon-alt-full"></i>
                                    $Extras.Translations[$Extras.language].transit</h6>
                                $almanac.jupiter.transit
                            </div>
                            <div class="col-4 col-xl-12">
                                <h6 class="$Extras.color-text d-xl-inline mr-xl-2"><i class="wi wi-direction-down"></i>
                                    $Extras.Translations[$Extras.language].set</h6>
                                $almanac.jupiter.set
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-3 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$Extras.Translations[$Extras.language].saturn</h5>

                        <div class="row">
                            <div class="col-4 col-xl-12">
                                <h6 class="$Extras.color-text d-xl-inline mr-xl-2"><i class="wi wi-direction-up"></i>
                                    $Extras.Translations[$Extras.language].rise</h6>
                                $almanac.saturn.rise
                            </div>
                            <div class="col-4 col-xl-12">
                                <h6 class="$Extras.color-text d-xl-inline mr-xl-2"><i class="wi wi-moon-alt-full"></i>
                                    $Extras.Translations[$Extras.language].transit</h6>
                                $almanac.saturn.transit
                            </div>
                            <div class="col-4 col-xl-12">
                                <h6 class="$Extras.color-text d-xl-inline mr-xl-2"><i class="wi wi-direction-down"></i>
                                    $Extras.Translations[$Extras.language].set</h6>
                                $almanac.saturn.set
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">
                            $Extras.Translations[$Extras.language].equinox
                            & $Extras.Translations[$Extras.language].solstice
                        </h5>

                        <table class="table table-striped text-left">
                            <tr>
                                <td>$Extras.Translations[$Extras.language].vernal_equinox:</td>
                                <td>$almanac.next_vernal_equinox</td>
                            </tr>
                            <tr>
                                <td>$Extras.Translations[$Extras.language].summer_solstice:</td>
                                <td>$almanac.next_summer_solstice</td>
                            </tr>
                            <tr>
                                <td>$Extras.Translations[$Extras.language].autumnal_equinox:</td>
                                <td>$almanac.next_autumnal_equinox</td>
                            </tr>
                            <tr>
                                <td>$Extras.Translations[$Extras.language].winter_solstice:</td>
                                <td>$almanac.next_winter_solstice</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">
                            $Extras.Translations[$Extras.language].moonphases
                        </h5>

                        <table class="table table-striped text-left">
                            <tr>
                                <td>$Extras.Translations[$Extras.language].currently:</td>
                                <td>
                                    #if $almanac.moon_phase == $almanac.moon_phases[0]
                                    <i class="wi wi-moon-new mr-1" style="opacity: .75"></i>
                                    #else if $almanac.moon_phase == $almanac.moon_phases[1]
                                    <i class="wi wi-moon-waxing-crescent-4 mr-1" style="opacity: .75"></i>
                                    #else if $almanac.moon_phase == $almanac.moon_phases[2]
                                    <i class="wi wi-moon-first-quarter mr-1" style="opacity: .75"></i>
                                    #else if $almanac.moon_phase == $almanac.moon_phases[3]
                                    <i class="wi wi-moon-waxing-gibbous-4 mr-1" style="opacity: .75"></i>
                                    #else if $almanac.moon_phase == $almanac.moon_phases[4]
                                    <i class="wi wi-moon-full mr-1" style="opacity: .75"></i>
                                    #else if $almanac.moon_phase == $almanac.moon_phases[5]
                                    <i class="wi wi-moon-waning-gibbous-4 mr-1" style="opacity: .75"></i>
                                    #else if $almanac.moon_phase == $almanac.moon_phases[6]
                                    <i class="wi wi-moon-third-quarter mr-1" style="opacity: .75"></i>
                                    #else if $almanac.moon_phase == $almanac.moon_phases[7]
                                    <i class="wi wi-moon-waning-crescent-4 mr-1" style="opacity: .75"></i>
                                    #else
                                    <i class="wi wi-moon-waning-crescent-3 mr-1" style="opacity: .75"></i>
                                    #end if
                                    $almanac.moon_fullness% $almanac.moon_phase
                                </td>
                            </tr>
                            #if $almanac.next_full_moon.raw < $almanac.next_new_moon.raw
                            <tr>
                                <td>$Extras.Translations[$Extras.language].next_full_moon:</td>
                                <td>$almanac.next_full_moon</td>
                            </tr>
                            <tr>
                                <td>$Extras.Translations[$Extras.language].next_new_moon:</td>
                                <td>$almanac.next_new_moon</td>
                            </tr>
                            #else
                            <tr>
                                <td>$Extras.Translations[$Extras.language].next_new_moon:</td>
                                <td>$almanac.next_new_moon</td>
                            </tr>
                            <tr>
                                <td>$Extras.Translations[$Extras.language].next_full_moon:</td>
                                <td>$almanac.next_full_moon</td>
                            </tr>
                            #end if
                        </table>

                    </div>
                </div>
            </div>

            #else

            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$Extras.Translations[$Extras.language].sun</h5>

                        <div class="row">
                            <div class="col-6">
                                <h6 class="$Extras.color-text"><i class="wi wi-sunrise"></i>
                                    $Extras.Translations[$Extras.language].rise</h6>
                                $almanac.sunrise
                            </div>
                            <div class="col-6">
                                <h6 class="$Extras.color-text"><i class="wi wi-sunset"></i>
                                    $Extras.Translations[$Extras.language].set</h6>
                                $almanac.sunset
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            #end if

        </div>

    </div>

</main>

#include "footer.inc"
#include "js.inc"

</body>
</html>
