#encoding UTF-8
#attr $active_nav = 'history'

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="profile" href="http://gmpg.org/xfn/11" />

        <title>
           $Extras.Translations[$Extras.language].history | $station.location
        </title>
        #include "head.inc"

         <!-- <style type="text/css">
			 .auto-theme .table {color:black !important;}
		 </style> -->

    </head>

    <body class="${Extras.Appearance.mode}-theme main-bg" ontouchstart="">
        #attr $active_nav = 'history'
        #include "header.inc"

        <main>
            <div class="container">
            <div class="row my-4 align-content-start">
             <div class="col-12 mb-4 text-center">
                 <h2 class="h2-responsive text-dark"><i class="wi wi-day-cloudy-gusts" ></i> <dfn data-info="Colour coded weather statistics by year and month">Weather Statistics</dfn></h2></br>

                <div class="col-sm">
                    <div class="card">

                            <div class="card card-body">
                                <h4 class="h5-responsive blue-text"><i class="wi wi-thermometer" ></i> $Extras.Translations[$Extras.language].min_temp</h4>
                                $min_temp_table
                            </div>
               
                            <div class="card card-body">
                                <h4 class="h5-responsive blue-text"><i class="wi wi-thermometer" ></i> $Extras.Translations[$Extras.language].avg_temp</h4>
                                $avg_temp_table
                            </div>

                            <div class="card card-body">
                                <h4 class="h5-responsive blue-text"><i class="wi wi-thermometer" ></i> $Extras.Translations[$Extras.language].max_temp</h4>
                                $max_temp_table
                            </div>

                            <div class="card card-body">
                                <h4 class="h5-responsive blue-text"><i class="wi wi-showers" ></i> $Extras.Translations[$Extras.language].rain</h4>
                                $rain_table
                            </div>

                            <div class="card card-body">
                                <h4 class="h5-responsive blue-text"><i class="wi wi-showers" ></i> $Extras.Translations[$Extras.language].rain_days (> 0.2mm)</h4>
                                $rain_days_table
                            </div>

                            <div class="card card-body">
                                <h4 class="h5-responsive blue-text"><i class="wi wi-strong-wind" ></i> $Extras.Translations[$Extras.language].max_wind</h4>
                                $max_wind_table
                            </div>

                            <div class="card card-body">
                                <h4 class="h5-responsive blue-text"><i class="wi wi-strong-wind" ></i> $Extras.Translations[$Extras.language].avg_wind</h4>
                                $avg_wind_table
                            </div>

                            <div class="card card-body">
                                <h4 class="h5-responsive blue-text"><i class="wi wi-day-sunny" ></i> $Extras.Translations[$Extras.language].uv_max</h4>
                                $uv_max_table
                            </div>
                    </div>
                    </br><h2 class="h2-responsive text-dark text-center"><i class="wi wi-time-2" ></i> <dfn data-info="All time records since September 2021">All Time Records</dfn></h2></br>
                    <div class="card">

                                <div class="card-body text-center" style="text-align:left;width:100%;">
                                <table class="table text-left records" style="width:100%;font-size:19px;">
                                #if $alltime.outTemp.has_data
                                    <tr>
                                        <th colspan="3" class="blue-text" style="text-align:left;font-size:20px;"><i class="wi wi-thermometer" ></i> Temperature</th>
                                    </tr>
                                    <tr>
                                        <td style="font-size:18px;">Highest:</td>
                                        <td style="font-size:18px;">$alltime.outTemp.max</td>
                                        <td style="font-size:18px;">$alltime.outTemp.maxtime</td>
                                     </tr>
                                     <tr>
                                        <td style="font-size:18px;">Lowest:</td>
                                        <td style="font-size:18px;">$alltime.outTemp.min</td>
                                        <td style="font-size:18px;">$alltime.outTemp.mintime</td>
                                    </tr>
                                #end if    
                                #if $alltime.appTemp.has_data
                                    <tr>
                                        <th colspan="3" class="blue-text" style="text-align:left;font-size:20px;"><i class="wi wi-day-windy" ></i> Feels Like</th>
                                    </tr>
                                    <tr>
                                        <td style="font-size:18px;">Highest:</td>
                                        <td style="font-size:18px;">$alltime.appTemp.max</td>
                                        <td style="font-size:18px;">$alltime.appTemp.maxtime</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:18px;">Lowest:</td>
                                        <td style="font-size:18px;">$alltime.appTemp.min</td>
                                        <td style="font-size:18px;">$alltime.appTemp.mintime</td>
                                    </tr>
                                #end if
                                #if $alltime.outHumidity.has_data
                                    <tr>
                                         <th colspan="3" class="blue-text" style="text-align:left;font-size:20px;"><i class="wi wi-humidity" ></i> Humidity</th>
                                    </tr>
                                    <tr>
                                        <td style="font-size:18px;">Highest:</td>
                                        <td style="font-size:18px;">$alltime.outHumidity.max</td>
                                        <td style="font-size:18px;">$alltime.outHumidity.maxtime</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:18px;">Lowest:</td>
                                        <td style="font-size:18px;">$alltime.outHumidity.min</td>
                                        <td style="font-size:18px;">$alltime.outHumidity.mintime</td>
                                    </tr>
                                #end if    
                                #if $alltime.barometer.has_data
                                    <tr>
                                         <th colspan="3" class="blue-text" style="text-align:left;font-size:20px;"><i class="wi wi-barometer" ></i> Pressure</th>
                                    </tr>
                                    <tr>
                                        <td style="font-size:18px;">Highest:</td>
                                        <td style="font-size:18px;">$alltime.barometer.max</td>
                                        <td style="font-size:18px;">$alltime.barometer.maxtime</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:18px;">Lowest:</td>
                                        <td style="font-size:18px;">$alltime.barometer.min</td>
                                        <td style="font-size:18px;">$alltime.barometer.mintime</td>
                                    </tr>
                                #end if    
                                #if $alltime.windSpeed.has_data or $alltime.windGust.has_data or $alltime.windrun.has_data
                                    <tr>
                                         <th colspan="3" class="blue-text" style="text-align:left;font-size:20px;"><i class="wi wi-strong-wind" ></i> Wind</th>
                                    </tr>
                                    #if $alltime.windSpeed.has_data
                                    <tr>
                                        <td style="font-size:18px;">Highest Sustained:</td>
                                        <td style="font-size:18px;">$alltime.windSpeed.max.format('%.0f')</td>
                                        <td style="font-size:18px;">$alltime.windSpeed.maxtime</td>
                                    </tr>
                                    #end if
                                    #if $alltime.windGust.has_data
                                    <tr>
                                        <td style="font-size:18px;">Highest Gust:</td>
                                        <td style="font-size:18px;">$alltime.windGust.max.format('%.0f')</td>
                                        <td style="font-size:18px;">$alltime.windGust.maxtime</td>
                                    </tr>
                                    #end if
                                    #if $alltime.windrun.has_data    
                                        <tr>
                                            <td style="font-size:18px;">Longest Wind Run:</td>
                                            <td style="font-size:18px;">$alltime.windrun.max</td>
                                            <td style="font-size:18px;">$alltime.windrun.maxtime</td>
                                        </tr>
                                    #end if  
                                #end if
                                #if $alltime.rain.has_data or $alltime.rainRate.has_data      
                                    <tr>
                                         <th colspan="3" class="blue-text" style="text-align:left;font-size:20px;"><i class="wi wi-umbrella" ></i> Precipitation</th>
                                    </tr>
                                    #if $alltime.rain.has_data
                                    <tr>
                                        <td style="font-size:18px;">Highest Daily Rainfall:</td>
                                        <td style="font-size:18px;">$alltime.rain.maxsum</td>
                                        <td style="font-size:18px;">$alltime.rain.maxsumtime</td>
                                    </tr>
                                    #end if
                                    #if $alltime.rainRate.has_data
                                    <tr>
                                        <td style="font-size:18px;">Highest Rain Rate:</td>
                                        <td style="font-size:18px;">$alltime.rainRate.max</td>
                                        <td style="font-size:18px;">$alltime.rainRate.maxtime</td>
                                    </tr>
                                    #end if
                                #end if    
                                #if $alltime.UV.has_data      
                                    <tr>
                                        <th colspan="3" class="blue-text" style="text-align:left;font-size:20px;"><i class="wi wi-day-sunny" ></i> UV Index</th>
                                    </tr>
                                    <tr>
                                        <td style="font-size:18px;">Highest:</td>
                                        <td style="font-size:18px;">$alltime.UV.max</td>
                                        <td style="font-size:18px;">$alltime.UV.maxtime</td>
                                    </tr>
                                #end if    
                                #if $alltime.radiation.has_data  
                                    <tr>
                                        <th colspan="3" class="blue-text" style="text-align:left;font-size:20px;"><i class="wi wi-day-sunny" ></i> Solar Radiation</th>
                                    </tr>
                                    <tr>
                                        <td style="font-size:18px;">Highest:</td>
                                        <td style="font-size:18px;">$alltime.radiation.max</td>
                                        <td style="font-size:18px;">$alltime.radiation.maxtime</td>
                                    </tr>
                                #end if    
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>       
        </main>

        #include "footer.inc"
        #include "js.inc"
    </body>
</html>
