#encoding UTF-8
## +-------------------------------------------------------------------------+
## |    index.html.tmpl                  Template file for "current" page    |
## +-------------------------------------------------------------------------+

## +-------------------------------------------------------------------------+
## | Template for display card of values (left column)                       |
## +-------------------------------------------------------------------------+

#def valuesCard($name)
  #if $getVar('day.' + name + '.has_data')
  <div class="col-12 col-md-6 col-xl-4 mb-4">
    <div class="card">
      <div class="card-body text-center">
        <h3 class="h5-responsive $Extras.color-text">
          $getVar('obs.label.' + name)


          #if $name in $Extras.Appearance.show_trend_on and $getVar('trend.' + name + '.raw') != None

            #if $getVar('trend.' + name + '.raw') > 0.1
            <i class="wi wi-direction-up-right"
               title="$Extras.Translations[$Extras.language].trend: $getVar('trend.' + name) ($trend.time_delta.hour)"
               data-toggle="tooltip"></i>
            #else if $getVar('trend.' + name + '.raw') < 0.1
            <i class="wi wi-direction-down-right"
               title="$Extras.Translations[$Extras.language].trend: $getVar('trend.' + name) ($trend.time_delta.hour)"
               data-toggle="tooltip"></i>
            #else
              <i class="wi wi-direction-right"
                 title="$Extras.Translations[$Extras.language].trend: 0 ($trend.time_delta.hour)"
                 data-toggle="tooltip"></i>
            #end if

          #else if $name == 'windSpeed'

            <i class="wi wi-wind from-$current.windDir.formatted-deg"
               title="$current.windDir.formatted°" data-toggle="tooltip"></i>

          #end if
        </h3>

        #if $name == 'windSpeed'

        <div class="row">
          <div class="col-3 text-muted font-small">
            $day.wind.avg <br>
            $Extras.Translations[$Extras.language].avg
          </div>
          <div class="col-6">
            <h4 class="h2-responsive">
              $current.windSpeed $current.windDir.ordinal_compass
            </h4>
          </div>
          <div class="col-3 text-muted font-small hi-text">
            $day.wind.max $day.wind.gustdir.ordinal_compass <br>
            <i class="wi wi-wind from-$day.wind.gustdir.formatted-deg mr-2"
               title="$day.wind.gustdir.formatted°" data-toggle="tooltip"></i>
            ($day.wind.maxtime.format($Extras.Formatting.datetime_today))
          </div>
        </div>

        #else if $name == 'rain'

        <div class="row">
          <div class="col-3 text-muted font-small">
            $current.rainRate <br>
            $obs.label.rainRate
          </div>
          <div class="col-6">
            <h4 class="h2-responsive">$day.rain.sum</h4>
          </div>
          <div class="col-3 text-muted font-small hi-text">
            $day.rainRate.max <br>
            ($day.rainRate.maxtime.format($Extras.Formatting.datetime_today))
          </div>
        </div>

        #else

        <div class="row">
          <div class="col-3 text-muted font-small lo-text">
            $getVar('day.' + name + '.min') <br>
            ($getVar('day.' + name + '.mintime').format($Extras.Formatting.datetime_today))
          </div>
          <div class="col-6">
            <h4 class="h2-responsive">$getVar('current.' + name)</h4>
          </div>
          <div class="col-3 text-muted font-small hi-text">
            $getVar('day.' + name + '.max') <br>
            ($getVar('day.' + name + '.maxtime').format($Extras.Formatting.datetime_today))
          </div>
        </div>

        #end if

      </div>
    </div>
  </div>
  #end if
#end def

## +-------------------------------------------------------------------------+
## | Template for display card of a single chart (right column)              |
## | Chart values are defined in the JS section below                        |
## +-------------------------------------------------------------------------+

#def chartCard($name, $id, $name2 = "XX")
  #if ($getVar('day.' + name + '.has_data') or $name == "windvec") and $name != "appTemp"
    <div class="col-12 col-xl-6 mb-4">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="h5-responsive $Extras.color-text">
            #if $name2 != "XX"
              $getVar('Extras.Charts.Titles.' + name, $getVar('obs.label.' + name)) &
              $getVar('Extras.Charts.Titles.' + name, $getVar('obs.label.' + name2))
            #else
              $getVar('Extras.Charts.Titles.' + name, $getVar('obs.label.' + name))
            #end if
          </h5>
          <div id="$id"></div>
        </div>
      </div>
    </div>
  #end if
#end def

## +-------------------------------------------------------------------------+
## | The main page layout                                                    |
## +-------------------------------------------------------------------------+

<!DOCTYPE html>
<html lang="$Extras.language">
<head>
  <title>
    $Extras.Translations[$Extras.language].current | $station.location
  </title>
  #include "head.inc"
</head>
<body class="${Extras.Appearance.mode}-theme main-bg" ontouchstart="">

#attr $active_nav = 'current'
#include "header.inc"

<main>
  <div class="container-fluid d-flex-xxl">

    <div class="row my-4 temprow align-content-start">
      #for $x in $Extras.Appearance.values_order

      #if $x == "ET"
        #if $day.ET.has_data and $day.ET.sum.raw != None and $day.ET.sum.raw > 0.0
          $valuesCard('ET')
        #end if
      #else
        $valuesCard($x)
      #end if

      #end for
    </div>

    <hr class="my-4 rowdivider">

    <div class="row mt-5 mb-4 graphrow align-content-start">
      #for $x in $Extras.Appearance.charts_order

      #if $x == "ET"
        #if $day.ET.has_data and $day.ET.sum.raw != None and $day.ET.sum.raw > 0.0
          $chartCard($x, $x + 'chart')
        #end if
      #else
        $chartCard($x, $x + 'chart')
      #end if

      #end for
    </div>

  </div>
</main>

#include "footer.inc"
#include "js.inc"

## +-------------------------------------------------------------------------+
## | Chart generation methods (get data for charts + their JS code)          |
## +-------------------------------------------------------------------------+

## +-------------------------------------------------------------------------+
## | Get data array for a chart                                              |
## |                                                                         |
## | string  $name    the name of the database field  (e.g. outTemp)         |
## | string  $column  the column of the display value (e.g. min, max, avg)   |
## +-------------------------------------------------------------------------+

#def getChartData($name, $column)
  #set current_interval = int($Extras.Charts.current_timespan)
  #if $name == "rain"
    #set current_interval = int($Extras.Charts.current_rain_timespan)
  #end if

  #for $record in $span($day_delta=1).spans(interval=current_interval)
    #try
      #set val = $getattr($record, $name)
      #set data = $getattr($val, $column).format(add_label=False, localize=False, None_string="null")
      [$record.start.raw, $data],
    #except

    #end try
  #end for
#end def

## +-------------------------------------------------------------------------+
## | Get JavaScript code for a chart                                         |
## |                                                                         |
## | string  $name     the name of the database field   (e.g. outTemp)       |
## | string  $id       the ID of the chart target       (without hash)       |
## | string  $type     type of chart                    (area, bar, radar)   |
## | string  $series1  field name for (1st) series      (e.g. outTemp)       |
## | string  $series2  opt. field name for 2nd series   (e.g. outTemp or "") |
## | string  $column   the column of the display value  (e.g. min, max, avg) |
## | string  $series3  opt. field name for 3rd series   (e.g. outTemp or "") |
## | string  $series4  opt. field name for 4th series   (e.g. outTemp or "") |
## +-------------------------------------------------------------------------+

#def getChartJsCode($name, $id, $type, $series1, $series2 = "", $column = "avg", $series3 = "", $series4 = "")

## Only add JS chart code if in array
#if $name in $Extras.Appearance.charts_order

new ApexCharts(document.querySelector('#$id'), {
  ...graph_${type}_config,
  yaxis: {
    labels: {
      formatter: function (val) {
        return formatNumber(val, "$getVar('unit.format.' + name)") + "$getVar('unit.label.' + name)";
      }
    }
  },
  series: [
    {
      name: "$getVar('obs.label.' + series1)",
      data: [ $getChartData(series1, column) ]
    }
    #if $series2 != "" and $getVar('day.' + series2 + '.has_data')
    ,{
      name: "$getVar('obs.label.' + series2)",
      data: [ $getChartData(series2, column) ]
    }
    #end if
    #if $series3 != "" and $getVar('day.' + series3 + '.has_data')
    ,{
      name: "$getVar('obs.label.' + series3)",
      data: [ $getChartData(series3, column) ]
    }
    #end if
    #if $series4 != "" and $getVar('day.' + series4 + '.has_data')
    ,{
      name: "$getVar('obs.label.' + series4)",
      data: [ $getChartData(series4, column) ]
    }
    #end if
  ]
}).render()

#end if

#end def

## +-------------------------------------------------------------------------+
## | Chart definitions                                                       |
## +-------------------------------------------------------------------------+

<script type="text/javascript">
  // Config templates

  var graph_area_config = {
    #include "graph_area_config.inc"
  }
  var graph_bar_config = {
    #include "graph_bar_config.inc"
  }

  var graph_radar_config = {
    #include "graph_radar_config.inc"
  }

  // outTemp + Dewpoint
  $getChartJsCode("outTemp", "outTempchart", "area", "outTemp", "dewpoint")

  // Wind chill + Heat index + optional appTemp
  #if "appTemp" in $Extras.Appearance.charts_order and $day.appTemp.has_data
  $getChartJsCode("windchill", "windchillchart", "area", "windchill", "heatindex", "avg", "appTemp")
  #else
  $getChartJsCode("windchill", "windchillchart", "area", "windchill", "heatindex")
  #end if

  // Barometer
  $getChartJsCode("barometer", "barometerchart", "area", "barometer")

  // Rain
  $getChartJsCode("rain", "rainchart", "bar", "rain", "", "sum")

  // Wind
  $getChartJsCode("windSpeed", "windSpeedchart", "area", "windSpeed", "windGust", "max")

  // outHumidity
  $getChartJsCode("outHumidity", "outHumiditychart", "area", "outHumidity")

  // UV / ET / Radiation
  #if $day.UV.has_data
  $getChartJsCode("UV", "UVchart", "area", "UV", "", "max")
  #end if

  #if $day.ET.has_data and $day.ET.sum.raw != None and $day.ET.sum.raw > 0.0
  $getChartJsCode("ET", "ETchart", "area", "ET", "", "max")
  #end if

  #if $day.radiation.has_data
  $getChartJsCode("radiation", "radiationchart", "area", "radiation", "", "max")
  #end if

  // inTemp + inHumidity
  $getChartJsCode("inTemp", "inTempchart", "area", "inTemp")
  $getChartJsCode("inHumidity", "inHumiditychart", "area", "inHumidity")

  // Other sensors
  #if $day.snowDepth.has_data
  $getChartJsCode("snowDepth", "snowDepthchart", "bar", "snowDepth", "", "sum")
  #end if

  #if $day.leafTemp1.has_data or $day.leafTemp2.has_data
  $getChartJsCode("leafTemp", "leafTempchart", "area", "leafTemp1", "leafTemp2", "avg")
  #end if

  #if $day.soilTemp1.has_data or $day.soilTemp2.has_data
  $getChartJsCode("soilTemp", "soilTempchart", "area", "soilTemp1", "soilTemp2", "avg", "soilTemp3", "soilTemp4")
  #end if

  #if $day.soilMoist1.has_data or $day.soilMoist2.has_data
  $getChartJsCode("soilMoist", "soilMoistchart", "area", "soilMoist1", "soilMoist2", "avg", "soilMoist3", "soilMoist4")
  #end if

  #if $day.cloudbase.has_data
  $getChartJsCode("cloudbase", "cloudbasechart", "area", "cloudbase", "avg")
  #end if

  // Build wind vector chart
  var vector_data = {
    'N': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
    'NE': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
    'E': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
    'SE': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
    'S': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
    'SW': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
    'W': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
    'NW': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
  };

  var raw_data = [
  #for $record in $span($day_delta=1).spans(interval=int($Extras.Charts.current_timespan))
  {
    'dir': "$record.windDir.avg.raw",
    'speed': "$record.windSpeed.avg.raw",
    'max': "$record.windGust.max.raw"
  },
  #end for
  ];

  raw_data.forEach(function(item) {
    var vec_dir = parseInt(item.dir);
    var vec_speed = parseFloat(item.speed);
    var max_speed = parseFloat(item.max);

    if(typeof vec_dir === 'number') {
      var vec_key = false;

      // Detect key based on vec direction (0-360). 45° steps, using the middle +- 45/2=22.5
      if(vec_dir > 337.5 || vec_dir <= 22.5) {
        vec_key = 'N';
      }
      if(vec_dir > 22.5 && vec_dir <= 67.5) {
        vec_key = 'NE';
      }
      if(vec_dir > 67.5 && vec_dir <= 112.5) {
        vec_key = 'E';
      }
      if(vec_dir > 112.5 && vec_dir <= 157.5) {
        vec_key = 'SE';
      }
      if(vec_dir > 157.5 && vec_dir <= 202.5) {
        vec_key = 'S';
      }
      if(vec_dir > 202.5 && vec_dir <= 247.5) {
        vec_key = 'SW';
      }
      if(vec_dir > 247.5 && vec_dir <= 292.5) {
        vec_key = 'W';
      }
      if(vec_dir > 292.5 && vec_dir <= 337.5) {
        vec_key = 'NW';
      }

      if(vec_key !== false) {
        vector_data[vec_key]['sum'] += vec_speed;
        vector_data[vec_key]['amt']++;

        if(max_speed > vector_data[vec_key]['max']) {
          vector_data[vec_key]['max'] = max_speed;
        }
      }

    }
  });

  // Finally build arrays for chart
  var avg_values = [];
  var max_values = [];
  Object.keys(vector_data).forEach(function (item) {
    if(vector_data[item]['amt'] > 0) {
      avg_values.push(vector_data[item]['sum'] / vector_data[item]['amt']);
    } else {
      avg_values.push(0);
    }

    max_values.push(vector_data[item]['max'])
  });

  // Display wind vector chart

  new ApexCharts(document.querySelector('#windvecchart'), {
    ...graph_radar_config,
    yaxis: {
      labels: {
        formatter: function (val) {
          return formatNumber(val, "$unit.format.windSpeed") + "$unit.label.windSpeed";
        }
      }
    },
    series: [
      {
        name: "$obs.label.windSpeed",
        data: avg_values
      },
      {
        name: "$obs.label.windGust",
        data: max_values
      },
    ]
  }).render()

  // extraTemp 1-8

  #if $day.extraTemp1.has_data
  $getChartJsCode("extraTemp1", "extraTemp1chart", "area", "extraTemp1")
  #end if

  #if $day.extraTemp2.has_data
  $getChartJsCode("extraTemp2", "extraTemp2chart", "area", "extraTemp2")
  #end if

  #if $day.extraTemp3.has_data
  $getChartJsCode("extraTemp3", "extraTemp3chart", "area", "extraTemp3")
  #end if

  #if $day.extraTemp4.has_data
  $getChartJsCode("extraTemp4", "extraTemp4chart", "area", "extraTemp4")
  #end if

  #if $day.extraTemp5.has_data
  $getChartJsCode("extraTemp5", "extraTemp5chart", "area", "extraTemp5")
  #end if

  #if $day.extraTemp6.has_data
  $getChartJsCode("extraTemp6", "extraTemp6chart", "area", "extraTemp6")
  #end if

  #if $day.extraTemp7.has_data
  $getChartJsCode("extraTemp7", "extraTemp7chart", "area", "extraTemp7")
  #end if

  #if $day.extraTemp8.has_data
  $getChartJsCode("extraTemp8", "extraTemp8chart", "area", "extraTemp8")
  #end if

  // extraHumid 1-8

  #if $day.extraHumid1.has_data
  $getChartJsCode("extraHumid1", "extraHumid1chart", "area", "extraHumid1")
  #end if

  #if $day.extraHumid2.has_data
  $getChartJsCode("extraHumid2", "extraHumid2chart", "area", "extraHumid2")
  #end if

  #if $day.extraHumid3.has_data
  $getChartJsCode("extraHumid3", "extraHumid3chart", "area", "extraHumid3")
  #end if

  #if $day.extraHumid4.has_data
  $getChartJsCode("extraHumid4", "extraHumid4chart", "area", "extraHumid4")
  #end if

  #if $day.extraHumid5.has_data
  $getChartJsCode("extraHumid5", "extraHumid5chart", "area", "extraHumid5")
  #end if

  #if $day.extraHumid6.has_data
  $getChartJsCode("extraHumid6", "extraHumid6chart", "area", "extraHumid6")
  #end if

  #if $day.extraHumid7.has_data
  $getChartJsCode("extraHumid7", "extraHumid7chart", "area", "extraHumid7")
  #end if

  #if $day.extraHumid8.has_data
  $getChartJsCode("extraHumid8", "extraHumid8chart", "area", "extraHumid8")
  #end if

</script>

</body>
</html>
