#encoding UTF-8
## +-------------------------------------------------------------------------+
## |    telemetry.html.tmpl            Template file for "telemetry" page    |
## +-------------------------------------------------------------------------+

## +-------------------------------------------------------------------------+
## | Template for display card of telemetry values                           |
## +-------------------------------------------------------------------------+

#def valuesCard($name)
#if $getVar('day.' + name + '.has_data') and $getVar('day.' + name + '.max.raw') > 0
<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-body text-center">
      <h5 class="h5-responsive $Extras.color-text">$getVar('obs.label.' + name)</h5>

      <div class="row">
        <div class="col-3 text-muted font-small lo-text">
          $getVar('day.' + name + '.min') <br>
          ($getVar('day.' + name + '.mintime').format($Extras.Formatting.datetime_today))
        </div>
        <div class="col-6">
          <h4 class="h2-responsive">$getVar('current.' + name)</h4>
        </div>
        <div class="col-3 text-muted font-small hi-text">
          $getVar('day.' + name + '.max') <br>
          ($getVar('day.' + name + '.maxtime').format($Extras.Formatting.datetime_today))
        </div>

        <div class="col-12 mt-4">
          <div id="$name-chart"></div>
        </div>

      </div>
    </div>
  </div>
</div>
#end if
#end def

## +-------------------------------------------------------------------------+
## | The main page layout                                                    |
## +-------------------------------------------------------------------------+

<!DOCTYPE html>
<html lang="$Extras.language">
<head>
  <title>$Extras.Translations[$Extras.language].telemetry | $station.location</title>
  #include "head.inc"
</head>
<body class="${Extras.Appearance.mode}-theme main-bg" ontouchstart="">

#attr $active_nav = ''
#include "header.inc"

<main>

  <div class="container">

    <div class="row my-4 align-content-start">

      <div class="col-12 mb-4 text-center">
        <h2 class="h2-responsive text-dark">$Extras.Translations[$Extras.language].telemetry</h2>
      </div>

      #for $x in $Extras.Appearance.telemetry_order
      $valuesCard($x)
      #end for

    </div>

  </div>

</main>

#include "footer.inc"
#include "js.inc"

## +-------------------------------------------------------------------------+
## | Chart generation methods (get data for charts + their JS code)          |
## +-------------------------------------------------------------------------+

## +-------------------------------------------------------------------------+
## | Get data array for a chart                                              |
## |                                                                         |
## | string  $name    the name of the database field  (e.g. outTemp)         |
## | string  $column  the column of the display value (e.g. min, max, avg)   |
## +-------------------------------------------------------------------------+

#def getChartData($name, $column)
  #set current_interval = int($Extras.Charts.current_timespan)
  #for $record in $span($day_delta=1).spans(interval=current_interval)
    #try
      #set val = $getattr($record, $name)
      #set data = $getattr($val, $column).format(add_label=False, localize=False, None_string="null")
      [$record.start.raw, $data],
    #except

    #end try
  #end for
#end def

## +-------------------------------------------------------------------------+
## | Get JavaScript code for a chart                                         |
## |                                                                         |
## | string  $name     the name of the database field   (e.g. outTemp)       |
## | string  $series   field name for series            (e.g. outTemp)       |
## | string  $column   the column of the display value  (e.g. min, max, avg) |
## +-------------------------------------------------------------------------+

#def getChartJsCode($name, $series, $column = "avg")

#if $getVar('day.' + name + '.has_data') and $getVar('day.' + name + '.max.raw') > 0

new ApexCharts(document.querySelector('#$name-chart'), {
  ...graph_area_config,
  yaxis: {
    labels: {
      formatter: function (val) {
        return formatNumber(val, "$getVar('unit.format.' + name)") + "$getVar('unit.label.' + name)";
      }
    }
  },
  series: [
    {
      name: "$getVar('obs.label.' + series)",
      data: [ $getChartData(series, column) ]
    }
  ]
}).render()

#end if

#end def

## +-------------------------------------------------------------------------+
## | Chart definitions                                                       |
## +-------------------------------------------------------------------------+

<script type="text/javascript">
  // Config templates

  var graph_area_config = {
    #include "graph_area_config.inc"
  }

  #for $x in $Extras.Appearance.telemetry_order
  $getChartJsCode($x, $x)
  #end for
</script>

</body>
</html>
