#encoding UTF-8
## +-------------------------------------------------------------------------+
## |    telemetry.html.tmpl            Template file for "telemetry" page    |
## +-------------------------------------------------------------------------+

## +-------------------------------------------------------------------------+
## | Template for display card of telemetry values                           |
## +-------------------------------------------------------------------------+

#def valuesCard($name)
#if $getVar('day.' + name + '.has_data') and $getVar('day.' + name + '.max.raw') > 0
<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-body text-center">
      <h5 class="h5-responsive $Extras.color-text">$getVar('obs.label.' + name)</h5>

      <div class="row">
        <div class="col-3 text-muted font-small lo-text">
          $getVar('day.' + name + '.min') <br>
          ($getVar('day.' + name + '.mintime').format($Extras.Formatting.datetime_today))
        </div>
        <div class="col-6">
          <h4 class="h2-responsive">$getVar('current.' + name)</h4>
        </div>
        <div class="col-3 text-muted font-small hi-text">
          $getVar('day.' + name + '.max') <br>
          ($getVar('day.' + name + '.maxtime').format($Extras.Formatting.datetime_today))
        </div>
      </div>
    </div>
  </div>
</div>
#end if
#end def

## +-------------------------------------------------------------------------+
## | The main page layout                                                    |
## +-------------------------------------------------------------------------+

<!DOCTYPE html>
<html lang="$Extras.language">
<head>
  <title>$Extras.Translations[$Extras.language].telemetry | $station.location</title>
  #include "head.inc"
</head>
<body class="main-bg" ontouchstart="">

#attr $active_nav = ''
#include "header.inc"

<main>

  <div class="container">

    <div class="row my-4 align-content-start">

      <div class="col-12 mb-4 text-center">
        <h2 class="h2-responsive text-dark">$Extras.Translations[$Extras.language].telemetry</h2>
      </div>

      $valuesCard("rxCheckPercent")
      $valuesCard("txBatteryStatus")
      $valuesCard("windBatteryStatus")
      $valuesCard("rainBatteryStatus")
      $valuesCard("outTempBatteryStatus")
      $valuesCard("outTempBatteryStatus")
      $valuesCard("inTempBatteryStatus")
      $valuesCard("consBatteryVoltage")
      $valuesCard("heatingVoltage")
      $valuesCard("supplyVoltage")
      $valuesCard("referenceVoltage")
      $valuesCard("extraBatteryStatus1")
      $valuesCard("extraBatteryStatus2")
      $valuesCard("extraBatteryStatus3")
      $valuesCard("extraBatteryStatus4")
      $valuesCard("extraBatteryStatus5")
      $valuesCard("extraBatteryStatus6")
      $valuesCard("extraBatteryStatus7")
      $valuesCard("extraBatteryStatus8")

    </div>

  </div>

</main>

#include "footer.inc"
#include "js.inc"

</body>
</html>
