#errorCatcher Echo
#encoding UTF-8

<!DOCTYPE html>
<html lang="$Extras.language">
<head>
    <title>$Extras.Translations[$Extras.language].year $year_name | $station.location</title>
    #include "head.inc"
</head>
<body class="main-bg" ontouchstart="">

#attr $active_nav = 'archive'
#include "header.inc"

<main>

    <div class="container-fluid d-flex-xxl">

        <div class="row my-4 temprow align-content-start">

            <div class="col-12 mb-4 text-center">
                <h2 class="h2-responsive text-dark">$Extras.Translations[$Extras.language].year $year_name</h2>
            </div>

            #for $month in $year.months
            <div class="col-12 col-md-6 col-xl-4 mb-4 text-center">
                <a class="card" href="month-${year_name}-${month.dateTime.format('%m')}.html">
                    <div class="card-body">
                        <h5 class="card-title $Extras.color-text">$month.dateTime.format("%B")</h5>
                        <div class="row text-dark">
                            <div class="col-4">
                                <i class="wi wi-thermometer h5-responsive"></i><br>
                                $month.outTemp.min<br>$month.outTemp.max
                            </div>
                            <div class="col-4">
                                <i class="wi wi-strong-wind h5-responsive"></i><br>
                                $month.wind.max<br>
                                $month.windDir.avg.ordinal_compass
                                <i class="wi wi-wind from-$month.windDir.avg.formatted-deg mr-2"
                                   title="$month.windDir.avg.formatted°" data-toggle="tooltip"></i>
                            </div>
                            <div class="col-4">
                                <i class="wi wi-showers h5-responsive"></i><br>
                                $month.rain.sum
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            #end for

            <div class="col-12 mt-2 mb-4">
                <hr>
            </div>

            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$obs.label.outTemp</h5>

                        <div class="row">
                            <div class="col-3 text-muted font-small">
                                $year.outTemp.min <br>
                                ($year.outTemp.mintime.format($Extras.Formatting.datetime_archive))
                            </div>
                            <div class="col-6">
                                <h4 class="h2-responsive">$year.outTemp.avg</h4>
                            </div>
                            <div class="col-3 text-muted font-small">
                                $year.outTemp.max <br>
                                ($year.outTemp.maxtime.format($Extras.Formatting.datetime_archive))
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$obs.label.outHumidity</h5>

                        <div class="row">
                            <div class="col-3 text-muted font-small">
                                $year.outHumidity.min <br>
                                ($year.outHumidity.mintime.format($Extras.Formatting.datetime_archive))
                            </div>
                            <div class="col-6">
                                <h4 class="h2-responsive">$year.outHumidity.avg</h4>
                            </div>
                            <div class="col-3 text-muted font-small">
                                $year.outHumidity.max <br>
                                ($year.outHumidity.maxtime.format($Extras.Formatting.datetime_archive))
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$obs.label.barometer</h5>

                        <div class="row">
                            <div class="col-3 text-muted font-small">
                                $year.barometer.min <br>
                                ($year.barometer.mintime.format($Extras.Formatting.datetime_archive))
                            </div>
                            <div class="col-6">
                                <h4 class="h3-responsive">$year.barometer.avg</h4>
                            </div>
                            <div class="col-3 text-muted font-small">
                                $year.barometer.max <br>
                                ($year.barometer.maxtime.format($Extras.Formatting.datetime_archive))
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$obs.label.inTemp</h5>

                        <div class="row">
                            <div class="col-3 text-muted font-small">
                                $year.inTemp.min <br>
                                ($year.inTemp.mintime.format($Extras.Formatting.datetime_archive))
                            </div>
                            <div class="col-6">
                                <h4 class="h2-responsive">$year.inTemp.avg</h4>
                            </div>
                            <div class="col-3 text-muted font-small">
                                $year.inTemp.max <br>
                                ($year.inTemp.maxtime.format($Extras.Formatting.datetime_archive))
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$obs.label.inHumidity</h5>

                        <div class="row">
                            <div class="col-3 text-muted font-small">
                                $year.inHumidity.min <br>
                                ($year.inHumidity.mintime.format($Extras.Formatting.datetime_archive))
                            </div>
                            <div class="col-6">
                                <h4 class="h2-responsive">$year.inHumidity.avg</h4>
                            </div>
                            <div class="col-3 text-muted font-small">
                                $year.inHumidity.max <br>
                                ($year.inHumidity.maxtime.format($Extras.Formatting.datetime_archive))
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">
                            $obs.label.windSpeed
                            <i class="wi wi-wind $year.windDir.avg.formatted-deg mr-2"
                               title="$year.windDir.avg.formatted°" data-toggle="tooltip"></i>
                        </h5>
                        <div class="row">
                            <div class="col-3 text-muted font-small">
                                $year.wind.avg <br>
                                $Extras.Translations[$Extras.language].avg
                            </div>
                            <div class="col-6">
                                <h4 class="h3-responsive">
                                    $year.windSpeed.max $year.windDir.avg.ordinal_compass
                                </h4>
                            </div>
                            <div class="col-3 text-muted font-small">
                                $year.wind.max $year.wind.gustdir.ordinal_compass <i class="wi wi-wind from-$year.wind.gustdir.formatted-deg" title="$year.wind.gustdir.formatted°" data-toggle="tooltip"></i> <br>
                                ($year.wind.maxtime.format($Extras.Formatting.datetime_archive))
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$obs.label.rain</h5>

                        <div class="row">
                            <div class="col-3 text-muted font-small">
                                &nbsp;
                            </div>
                            <div class="col-6">
                                <h4 class="h2-responsive">$year.rain.sum</h4>
                            </div>
                            <div class="col-3 text-muted font-small">
                                $year.rainRate.max <br>
                                ($year.rainRate.maxtime.format($Extras.Formatting.datetime_archive))
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$obs.label.dewpoint</h5>

                        <div class="row">
                            <div class="col-3 text-muted font-small">
                                $year.dewpoint.min <br>
                                ($year.dewpoint.mintime.format($Extras.Formatting.datetime_archive))
                            </div>
                            <div class="col-6">
                                <h4 class="h2-responsive">$year.dewpoint.avg</h4>
                            </div>
                            <div class="col-3 text-muted font-small">
                                $year.dewpoint.max <br>
                                ($year.dewpoint.maxtime.format($Extras.Formatting.datetime_archive))
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$obs.label.windchill</h5>

                        <div class="row">
                            <div class="col-3 text-muted font-small">
                                $year.windchill.min <br>
                                ($year.windchill.mintime.format($Extras.Formatting.datetime_archive))
                            </div>
                            <div class="col-6">
                                <h4 class="h2-responsive">$year.windchill.avg</h4>
                            </div>
                            <div class="col-3 text-muted font-small">
                                $year.windchill.max <br>
                                ($year.windchill.maxtime.format($Extras.Formatting.datetime_archive))
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$obs.label.heatindex</h5>

                        <div class="row">
                            <div class="col-3 text-muted font-small">
                                $year.heatindex.min <br>
                                ($year.heatindex.mintime.format($Extras.Formatting.datetime_archive))
                            </div>
                            <div class="col-6">
                                <h4 class="h2-responsive">$year.heatindex.avg</h4>
                            </div>
                            <div class="col-3 text-muted font-small">
                                $year.heatindex.max <br>
                                ($year.heatindex.maxtime.format($Extras.Formatting.datetime_archive))
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            #if $year.UV.has_data
            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$obs.label.UV</h5>
                        <div class="row">
                            <div class="col-3 text-muted font-small">
                                $year.UV.min <br>
                                ($year.UV.mintime.format($Extras.Formatting.datetime_archive))
                            </div>
                            <div class="col-6">
                                <h4 class="h2-responsive">$year.UV.avg</h4>
                            </div>
                            <div class="col-3 text-muted font-small">
                                $year.UV.max <br>
                                ($year.UV.maxtime.format($Extras.Formatting.datetime_archive))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            #end if

            #if $year.ET.has_data and $year.ET.sum.raw is not None and $year.ET.sum.raw > 0.0
            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$obs.label.ET</h5>
                        <div class="row">
                            <div class="col-3 text-muted font-small">
                                $year.ET.min <br>
                                ($year.ET.mintime.format($Extras.Formatting.datetime_archive))
                            </div>
                            <div class="col-6">
                                <h4 class="h2-responsive">$year.ET.avg</h4>
                            </div>
                            <div class="col-3 text-muted font-small">
                                $year.ET.max <br>
                                ($year.ET.maxtime.format($Extras.Formatting.datetime_archive))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            #end if

            #if $year.radiation.has_data
            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$obs.label.radiation</h5>
                        <div class="row">
                            <div class="col-3 text-muted font-small">
                                $year.radiation.min <br>
                                ($year.radiation.mintime.format($Extras.Formatting.datetime_archive))
                            </div>
                            <div class="col-6">
                                <h4 class="h2-responsive">$year.radiation.avg</h4>
                            </div>
                            <div class="col-3 text-muted font-small">
                                $year.radiationmax <br>
                                ($year.radiation.maxtime.format($Extras.Formatting.datetime_archive))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            #end if

            #if $year.extraTemp1.has_data
            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$obs.label.extraTemp1</h5>

                        <div class="row">
                            <div class="col-3 text-muted font-small">
                                $year.extraTemp1.min <br>
                                ($year.extraTemp1.mintime.format($Extras.Formatting.datetime_archive))
                            </div>
                            <div class="col-6">
                                <h4 class="h2-responsive">$year.extraTemp1.avg</h4>
                            </div>
                            <div class="col-3 text-muted font-small">
                                $year.extraTemp1.max <br>
                                ($year.extraTemp1.maxtime.format($Extras.Formatting.datetime_archive))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            #end if

            #if $year.extraTemp2.has_data
            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$obs.label.extraTemp2</h5>

                        <div class="row">
                            <div class="col-3 text-muted font-small">
                                $year.extraTemp2.min <br>
                                ($year.extraTemp2.mintime.format($Extras.Formatting.datetime_archive))
                            </div>
                            <div class="col-6">
                                <h4 class="h2-responsive">$year.extraTemp2.avg</h4>
                            </div>
                            <div class="col-3 text-muted font-small">
                                $year.extraTemp2.max <br>
                                ($year.extraTemp2.maxtime.format($Extras.Formatting.datetime_archive))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            #end if

            #if $year.extraTemp3.has_data
            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$obs.label.extraTemp3</h5>

                        <div class="row">
                            <div class="col-3 text-muted font-small">
                                $year.extraTemp3.min <br>
                                ($year.extraTemp3.mintime.format($Extras.Formatting.datetime_archive))
                            </div>
                            <div class="col-6">
                                <h4 class="h2-responsive">$year.extraTemp3.avg</h4>
                            </div>
                            <div class="col-3 text-muted font-small">
                                $year.extraTemp3.max <br>
                                ($year.extraTemp3.maxtime.format($Extras.Formatting.datetime_archive))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            #end if

        </div>

        <hr class="my-4 rowdivider">

        <div class="row mt-5 mb-4 graphrow align-content-start">
            #include "graphs.inc"

            #if $year.UV.has_data
            <div class="col-12 col-xl-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$obs.label.UV</h5>
                        <div id="uvchart"></div>
                    </div>
                </div>
            </div>
            #end if

            #if $year.ET.has_data and $year.ET.sum.raw is not None and $year.ET.sum.raw > 0.0
            <div class="col-12 col-xl-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$obs.label.ET</h5>
                        <div id="etchart"></div>
                    </div>
                </div>
            </div>
            #end if

            #if $year.radiation.has_data
            <div class="col-12 col-xl-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$obs.label.radiation</h5>
                        <div id="radiationchart"></div>
                    </div>
                </div>
            </div>
            #end if

            #if $year.extraTemp1.has_data
            <div class="col-12 col-xl-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$obs.label.extraTemp1</h5>
                        <div id="temp1chart"></div>
                    </div>
                </div>
            </div>
            #end if

            #if $year.extraTemp2.has_data
            <div class="col-12 col-xl-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$obs.label.extraTemp2</h5>
                        <div id="temp2chart"></div>
                    </div>
                </div>
            </div>
            #end if

            #if $year.extraTemp3.has_data
            <div class="col-12 col-xl-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="h5-responsive $Extras.color-text">$obs.label.extraTemp3</h5>
                        <div id="temp3chart"></div>
                    </div>
                </div>
            </div>
            #end if
        </div>

    </div>

</main>

#include "footer.inc"
#include "js.inc"

## Charts
<script type="text/javascript">
    var theme_mode = 'light';
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        theme_mode = 'dark';
    }

    // ---
    // outTemp + Dewpoint
    // ---

    var seriesdata1 = [
        #for $record in $year.days
            #if $record.outTemp.has_data
            [$record.dateTime.raw, $record.outTemp.min.format(add_label=False, $localize=False, None_string="")],
            #end if
        #end for
        ];

    var seriesdata1a = [
        #for $record in $year.days
            #if $record.outTemp.has_data
            [$record.dateTime.raw, $record.outTemp.max.format(add_label=False, $localize=False, None_string="")],
            #end if
        #end for
        ];

    var seriesdata2 = [
        #for $record in $year.days
            #if $record.dewpoint.has_data
            [$record.dateTime.raw, $record.dewpoint.avg.format(add_label=False, $localize=False, None_string="")],
            #end if
        #end for
        ];

    var options = {
      #include "graph_area_archive_config.inc"
      yaxis: {
        labels: {
          formatter: function (val) {
            return val + "$unit.label.outTemp";
          }
        }
      },
    series: [
        {
            name: "$obs.label.outTemp Min",
            data: seriesdata1
        },
        {
            name: "$obs.label.outTemp Max",
            data: seriesdata1a
        },
        {
            name: "$obs.label.dewpoint",
            data: seriesdata2
        }
    ]
    }

    var chart = new ApexCharts(document.querySelector('#tempchart'), options)
    chart.render()


    // ---
    // Wind chill + Heat index
    // ---

    seriesdata1 = [
        #for $record in $year.days
            #if $record.windchill.has_data
            [$record.dateTime.raw, $record.windchill.avg.format(add_label=False, $localize=False, None_string="")],
            #end if
        #end for
        ]

    seriesdata2 = [
        #for $record in $year.days
            #if $record.heatindex.has_data
            [$record.dateTime.raw, $record.heatindex.avg.format(add_label=False, $localize=False, None_string="")],
            #end if
        #end for
        ]

    var options2 = {
      #include "graph_area_archive_config.inc"
      yaxis: {
        labels: {
          formatter: function (val) {
            return val + "$unit.label.windchill";
          }
        }
      },
    series: [
        {
            name: "$obs.label.windchill",
            data: seriesdata1
        },
        {
            name: "$obs.label.heatindex",
            data: seriesdata2
        }
    ]
    }

    var chart2 = new ApexCharts(document.querySelector('#wchichart'), options2)
    chart2.render()

    // ---
    // Barometer
    // ---

    seriesdata1 = [
        #for $record in $year.days
            #if $record.barometer.has_data
            [$record.dateTime.raw, $record.barometer.avg.format(add_label=False, $localize=False, None_string="")],
            #end if
        #end for
        ];

    var options3 = {
      #include "graph_area_archive_config.inc"
      yaxis: {
        labels: {
          formatter: function (val) {
            return val + "$unit.label.barometer";
          }
        }
      },
    series: [
        {
            name: "$obs.label.barometer",
            data: seriesdata1
        }
    ]
    }

    var chart3 = new ApexCharts(document.querySelector('#barometerchart'), options3)
    chart3.render()

    // ---
    // Rain (by week = 604800 seconds = 3600 * 24 * 7 days)
    // ---

    seriesdata1 = [
        #for $record in $year.spans(interval=604800)
            #if $record.rain.has_data
            [$record.dateTime.raw, $record.rain.sum.format(add_label=False, $localize=False, None_string="")],
            #end if
        #end for
        ]

    var options4 = {
      #include "graph_bar_archive_config.inc"
      yaxis: {
        labels: {
          formatter: function (val) {
            return val + "$unit.label.rain";
          }
        }
      },
    series: [
        {
            name: "$obs.label.rain",
            data: seriesdata1
        }
    ]
    }

    var chart4 = new ApexCharts(document.querySelector('#rainchart'), options4)
    chart4.render()

    // ---
    // Wind
    // ---

    seriesdata1 = [
        #for $record in $year.days
            #if $record.windSpeed.has_data
            [$record.dateTime.raw, $record.windSpeed.max.format(add_label=False, $localize=False, None_string="")],
            #end if
        #end for
        ]

    seriesdata2 = [
        #for $record in $year.days
            #if $record.windGust.has_data
            [$record.dateTime.raw, $record.windGust.max.format(add_label=False, $localize=False, None_string="")],
            #end if
        #end for
        ]

    var options5 = {
      #include "graph_area_archive_config.inc"
      yaxis: {
        labels: {
          formatter: function (val) {
            return val + "$unit.label.windSpeed";
          }
        }
      },
    series: [
        {
            name: "$obs.label.windSpeed",
            data: seriesdata1
        },
        {
            name: "$obs.label.windGust",
            data: seriesdata2
        }
    ]
    }

    var chart5 = new ApexCharts(document.querySelector('#windchart'), options5)
    chart5.render()

    // ---
    // outHumidity
    // ---

    seriesdata1 = [
        #for $record in $year.days
            #if $record.outHumidity.has_data
            [$record.dateTime.raw, $record.outHumidity.avg.format(add_label=False, $localize=False, None_string="")],
            #end if
        #end for
        ]

    var options6 = {
        #include "graph_area_archive_config.inc"
        yaxis: {
        labels: {
          formatter: function (val) {
            return val + "$unit.label.outHumidity";
          }
        }
      },
    series: [
        {
            name: "$obs.label.outHumidity",
            data: seriesdata1
        }
    ]
    }

    var chart6 = new ApexCharts(document.querySelector('#humiditychart'), options6)
    chart6.render()

    // ---
    // Build wind vector diagram
    // ---

    var vector_data = {
        'N': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
        'NE': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
        'E': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
        'SE': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
        'S': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
        'SW': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
        'W': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
        'NW': {'sum': 0.0, 'amt': 0, 'avg': 0.0, 'max': 0.0},
    };

    var raw_data = [
        #for $record in $year.days
        #if $record.windSpeed.has_data
        {
            'dir': "$record.windDir.avg.raw",
            'speed': "$record.windSpeed.max.raw",
            'max': "$record.windGust.max.raw"
        },
        #end if
        #end for
        ]

    raw_data.forEach(function(item) {
        var vec_dir = parseInt(item.dir);
        var vec_speed = parseFloat(item.speed);
        var max_speed = parseFloat(item.max);

        if(typeof vec_dir === 'number') {
            var vec_key = false;

            // Detect key based on vec direction (0-360). 45° steps, using the middle +- 45/2=22.5
            if(vec_dir > 337.5 || vec_dir <= 22.5) {
                vec_key = 'N';
            }
            if(vec_dir > 22.5 && vec_dir <= 67.5) {
                vec_key = 'NE';
            }
            if(vec_dir > 67.5 && vec_dir <= 112.5) {
                vec_key = 'E';
            }
            if(vec_dir > 112.5 && vec_dir <= 157.5) {
                vec_key = 'SE';
            }
            if(vec_dir > 157.5 && vec_dir <= 202.5) {
                vec_key = 'S';
            }
            if(vec_dir > 202.5 && vec_dir <= 247.5) {
                vec_key = 'SW';
            }
            if(vec_dir > 247.5 && vec_dir <= 292.5) {
                vec_key = 'W';
            }
            if(vec_dir > 292.5 && vec_dir <= 337.5) {
                vec_key = 'NW';
            }

            if(vec_key !== false) {
                vector_data[vec_key]['sum'] += vec_speed;
                vector_data[vec_key]['amt']++;

                if(max_speed > vector_data[vec_key]['max']) {
                    vector_data[vec_key]['max'] = max_speed;
                }
            }

        }
    })

    // Finally build arrays for chart
    var avg_values = [];
    var max_values = [];
    Object.keys(vector_data).forEach(function (item) {
        if(vector_data[item]['amt'] > 0) {
            avg_values.push(vector_data[item]['sum'] / vector_data[item]['amt']);
        } else {
            avg_values.push(0);
        }

        max_values.push(vector_data[item]['max'])
    })

    // ---
    // Wind Vector
    // ---

    var options7 = {
      #include "graph_radar_config.inc"
      yaxis: {
        labels: {
          formatter: function (val) {
            return val + "$unit.label.windSpeed";
          }
        }
      },
    series: [
        {
            name: "$obs.label.windSpeed",
            data: avg_values
        },
        {
            name: "$obs.label.windGust",
            data: max_values
        },
    ]
    }

    var chart7 = new ApexCharts(document.querySelector('#windvectorchart'), options7)
    chart7.render()
    
    // ---
    // UV / ET / Radiation
    // ---

    #if $year.UV.has_data
    var options8 = {
      #include "graph_area_archive_config.inc"
      yaxis: {
        labels: {
          formatter: function (val) {
            return val + "$unit.label.UV";
          }
        }
      },
      series: [
        {
          name: "$obs.label.UV",
          data: [
            #for $record in $year.days
            [$record.start.raw, $record.UV.max.format(add_label=False, localize=False, None_string="")],
            #end for
          ]
        }
      ]
    }

    var chart8 = new ApexCharts(document.querySelector('#uvchart'), options8)
    chart8.render()
    #end if

    #if $year.ET.has_data and $year.ET.sum.raw is not None and $year.ET.sum.raw > 0.0
    var options9 = {
      #include "graph_area_archive_config.inc"
      yaxis: {
        labels: {
          formatter: function (val) {
            return val + "$unit.label.ET";
          }
        }
      },
      series: [
        {
          name: "$obs.label.ET",
          data: [
            #for $record in $year.days
            [$record.start.raw, $record.ET.max.format(add_label=False, localize=False, None_string="")],
            #end for
          ]
        }
      ]
    }

    var chart9 = new ApexCharts(document.querySelector('#etchart'), options9)
    chart9.render()
    #end if

    #if $year.radiation.has_data
    var options10 = {
      #include "graph_area_archive_config.inc"
      yaxis: {
        labels: {
          formatter: function (val) {
            return val + "$unit.label.radiation";
          }
        }
      },
      series: [
        {
          name: "$obs.label.radiation",
          data: [
            #for $record in $year.days
            [$record.start.raw, $record.radiation.max.format(add_label=False, localize=False, None_string="")],
            #end for
          ]
        }
      ]
    }

    var chart10 = new ApexCharts(document.querySelector('#radiationchart'), options10)
    chart10.render()
    #end if

    // ---
    // extraTemp 1-3
    // ---

    #if $year.extraTemp1.has_data
    var options11 = {
      #include "graph_area_archive_config.inc"
      yaxis: {
        labels: {
          formatter: function (val) {
            return val + "$unit.label.extraTemp1";
          }
        }
      },
      series: [
        {
          name: "$obs.label.extraTemp1",
          data: [
            #for $record in $year.days
            [$record.start.raw, $record.extraTemp1.avg.format(add_label=False, $localize=False, None_string="")],
            #end for
          ]
        }
      ]
    }

    var chart11 = new ApexCharts(document.querySelector('#temp1chart'), options11)
    chart11.render()
    #end if

    #if $year.extraTemp2.has_data
    var options12 = {
      #include "graph_area_archive_config.inc"
      yaxis: {
        labels: {
          formatter: function (val) {
            return val + "$unit.label.extraTemp2";
          }
        }
      },
      series: [
        {
          name: "$obs.label.extraTemp2",
          data: [
            #for $record in $year.days
            [$record.start.raw, $record.extraTemp2.avg.format(add_label=False, $localize=False, None_string="")],
            #end for
          ]
        }
      ]
    }

    var chart12 = new ApexCharts(document.querySelector('#temp2chart'), options12)
    chart12.render()
    #end if

    #if $year.extraTemp3.has_data
    var options13 = {
      #include "graph_area_archive_config.inc"
      yaxis: {
        labels: {
          formatter: function (val) {
            return val + "$unit.label.extraTemp3";
          }
        }
      },
      series: [
        {
          name: "$obs.label.extraTemp3",
          data: [
            #for $record in $year.days
            [$record.start.raw, $record.extraTemp3.avg.format(add_label=False, $localize=False, None_string="")],
            #end for
          ]
        }
      ]
    }

    var chart13 = new ApexCharts(document.querySelector('#temp3chart'), options13)
    chart13.render()
    #end if
</script>

</body>
</html>
